/* Defaults */
body {
  background-color: #152336;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  line-height: 1.625;
  margin: 0;
}

h1 {
  font-weight: 800;
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
}

img {
  max-width: 90%;
}

/* Layout */
main {
  background-color: #fff;
  color: #152336;
  padding: 3.1rem 3.2rem 3.2rem 3.1rem;
}

/* Classes */
.alpha-list {
  list-style-type: lower-alpha;
}

.alpha-list > li {
  font-size: 1.5rem;
  font-weight: bold;
}

.alpha-list > li > h2 {
  font-size: 1em;
}

.alpha-list > li > ul {
  font-size: 1rem;
  font-weight: normal;
}

/** Max content width */
@media (min-width: 1080px) {
    .header, main > *, .footer {
        margin: 0 auto;
        max-width: calc(1080px - 6.2rem);
    }
}
